# Binary files
*.bin

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# SAM
.aws-sam/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Coverage
.coverage
htmlcov/

# Environment files
.env
.env.*

# Logs
*.log

